[test]
HeapTest.ConstructionDestruction                   = .5
HeapTest.InitiallyEmpty                            = .5
HeapTest.SingleItemPush                            = .5
HeapTest.SingleItemPushPop                         = .5
HeapTest.TwoElementPush_LowPriFirst                = .5
HeapTest.TwoElementPush_HighPriFirst               = .5
HeapTest.TwoElementsSamePriority                   = .5
HeapTest.ThreeElementPush_10_20_30                 = .5
HeapTest.ThreeElementPush_10_30_20                 = .5
HeapTest.ThreeElementPush_20_10_30                 = .5
HeapTest.ThreeElementPush_20_30_10                 = .5
HeapTest.ThreeElementPush_30_10_20                 = .5
HeapTest.ThreeElementPush_30_20_10                 = .5
HeapTest.ThreeElementPush_String                   = .5
HeapTest.ThreeElementPush_TrinaryHeap              = .5
HeapTest.ThreeElementPush_QuaternaryHeap           = .5
HeapTest.ThreeElementDecrease_RootOnly             = .5
HeapTest.ThreeElementDecrease_Root1Node            = .5
HeapTest.ThreeElementDecrease_Child                = 1
HeapTest.ThreeElementDecrease_Zero_Level_4Node     = 1
HeapTest.ThreeElementDecrease_Zero_Level_5Node     = 1
HeapTest.ThreeElementDecrease_One_Level_4Node      = 1
HeapTest.ThreeElementDecrease_One_Level_5Node      = 1
HeapTest.ThreeElementDecrease_Two_Levels_4Node     = 1
HeapTest.ThreeElementDecrease_Two_Levels_5Node     = 1
HeapStress.50x50RandomElements_BinaryHeap          = .5
HeapStress.50x50RandomElements_QuaternaryHeap      = .5
HeapStress.10x50RandomElements_QuaternaryDecrease  = 1.5
HeapStress.2x10000RandomElements_Binary            = .5
HeapRuntime.Push                                   = 1.5
HeapRuntime.Decrease                               = 3
HeapRuntime.Pop                                    = 1.5
