[test]
Login.UserExistsPasswordWrong = 1
Login.UserDoesNotExist = 1
Login.UserExistsPasswordCorrectDavid = 2
Login.UserExistsPasswordCorrectEmanuel = 2
Login.TweetCommandNoUserSignedIn = 1
Login.TweetCommandIncludesUser = 2
Login.TweetCommandValid = 1
Login.FollowCommandNoUserSignedIn = 2
Login.FollowCommandValid = 2
Login.LoginLogoutTweet = 1
Login.LoginLogoutLogin = 1
Login.LoginLogoutFollow = 1
Login.LoginLogoutLoginTweet = 1
Login.LoginLogoutLoginFollow = 1
Login.LoginTweetLogoutLoginTweet = 1
Login.LoginTweetLogoutLoginFollow = 1
Login.LoginFollowLogoutLoginTweet = 1
Login.LoginFollowLogoutLoginFollow = 1
Login.PasswordsAreSaved = 2

