[test]
Trending.ParseOnlyNominal = 2
Trending.ParseOnlyAllTweets = 2
Trending.ParseOnlyOverNumTweets = 2
Trending.MultiTweetersNominal = 2
Trending.MultiTweetersAllTweets = 2 
Trending.MultiTweetersOverNumTweets = 2
Trending.NegativeRequest = 2
Trending.DuplicateHashTagInSameTweet = 2
Trending.UpdateHashtag = 3
Trending.UpdateHashtag2 = 2
Trending.UpdateHashtag3 = 2
Trending.TwoCalls = 4
